@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
img{ border:none;}
li{ list-style:none;}
@font-face{ font-family: 'ds-digitalbold';src:url('../fonts/ds-digib-webfont.woff2') format('woff2'),url('../fonts/ds-digib-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
body{ background: url(../images/qp_bg.jpg) no-repeat; width:1920px; height:1080px;font-family:\5FAE\8F6F\96C5\9ED1; font-size:12px; color:#0ff;}
.full_link{ top:48px; left:45px; position:absolute; height:100%; width:561px; height:990px; overflow:hidden;}
.full_link td{ position:relative;}
.full_mod_box{ width:561px; }
.full_mod_top,.full_mod_bottom{ height:60px;line-height: 60px; overflow:hidden; padding:20px 0 0 0; font-size:14px;}
.full_mod_top{ background:url(../images/dp_modtop.png) no-repeat;text-indent:40px; }
.full_mod_center{ background:url(../images/dp_modcenter.png) repeat-y; }
.full_mod_bottom{  background:url(../images/dp_modbottom.png) no-repeat;width:100%;}

h1{ font-size:14px; font-weight:normal;}
.statistics_box,.status_box,.topnstatistics_box,.level_box{ position:absolute; }
.statistics_box{ width:650px; height:360px; top:90px; left:630px;}
.status_box{ width:630px; height:260px; top:516px; left:630px;}
.topnstatistics_box{width:980px; height:210px; top:786px; left:630px;}
.level_box{width:600px; height:674px; top:110px; left:1290px;}
.level_box p{ line-height:0px; position:absolute;bottom: 55px; text-align: center;width: 100%;}
.font_90{ font-size:90px;}
.font_70{ font-size:70px;}
.font_40{ font-size:40px;}
.led_fonts{ font-family:'ds-digitalbold';}
.information_a{width:422px; height:421px; text-align:center; line-height:421px; position:absolute; bottom:0; left:0; }
.information_a p{ top:260px; left:0px;}
.information_a h1{ position:absolute; width:100%; text-align: center;top:-60px; left:0px; font-size:20px;}
.logstat_flash_a{position:absolute;top:0; left:0;   width:422px; height:421px; background:url(../images/qp_yuanpan.png) no-repeat; }
.logstat_flash_b{ width:165px; height:165px;background:url(../images/qp_yuanpan_b.png) no-repeat;}
.logstat_position_a,.logstat_position_b,.logstat_position_c,.logstat_position_d{ position:absolute; line-height:165px; text-align:center;}
.logstat_position_a{top:70px; left:160px;   }
.logstat_position_b{top:150px; left:340px;   }
.logstat_position_c{top:320px; left:430px;   }
.logstat_position_d{top:510px; left:410px;   }

.logstat_flash_a_yes{
			-webkit-animation-name: spin; 
			-webkit-animation-duration: 1500ms; /* 40 seconds */
			-webkit-animation-iteration-count: infinite; 
			-webkit-animation-timing-function: linear;
			
			-moz-animation-name: spin; 
			-moz-animation-duration:1500ms; /* 40 seconds */
			-moz-animation-iteration-count: infinite; 
			-moz-animation-timing-function: linear;
			
			-ms-animation-name: spin; 
			-ms-animation-duration:1500ms; /* 40 seconds */
			-ms-animation-iteration-count: infinite; 
			-ms-animation-timing-function: linear;
			/* boooo opera */
			-o-transition: rotate(3600deg); /* works */
}
@-webkit-keyframes spin {
			from {
				-webkit-transform: rotate(0deg);
			}
			to {
				-webkit-transform: rotate(360deg);
			}
		}
		
		@-moz-keyframes spin {
			from {
				-moz-transform: rotate(0deg);
			}
			to {
				-moz-transform: rotate(360deg);
			}
		}
		
		@-ms-keyframes spin {
			from {
				-ms-transform: rotate(0deg);
			}
			to {
				-ms-transform: rotate(360deg);
			}
	}
	
	@-webkit-keyframes spinb {
			from {
				-webkit-transform: rotate(360deg);
			}
			to {
			-webkit-transform: rotate(0deg);
			}
		}
		
		@-moz-keyframes spin {
			from {
				-webkit-transform: rotate(360deg);
			}
			to {
			-webkit-transform: rotate(0deg);
			}
		}
		
		@-ms-keyframes spin {
			from {
				-webkit-transform: rotate(360deg);
			}
			to {
			-webkit-transform: rotate(0deg);
			}
	}


.statistics_ul{ display:inline-table; text-align:center; width:100%; margin:30px 0 0 0;}
.statistics_ul li{ display:inline-table; text-align:center; width:180px; height:100px; overflow:hidden;}
.status_box ul{margin:30px 0 0 20px;}
.status_box ul li{ width:190px; height:190px; display:inline-table; text-align:center;  position:relative; }
.status_box .yellow_img,.status_box .red_img,.status_box .blue_img{ width:190px; height:190px; position:absolute; top:0; left:0; z-index:-9}
.status_box .yellow_img{ background:url(../images/yellow_img.png) no-repeat center;}
.status_box .red_img{ background:url(../images/red_img.png) no-repeat center;}
.status_box .blue_img{ background:url(../images/blue_img.png) no-repeat center;}
.status_box .font_bg{ width:90px; height:70px; border-radius:90px; background:#000; padding:20px 0 0 0; margin:50px 0 0 51px;}
.font_blue{ color:#0cf;}
.font_red{color:red;}
.font_yellow{color:#fc0;}

.status_box_yes{
			-webkit-animation-name: spin; 
			-webkit-animation-duration:10000ms; /* 40 seconds */
			-webkit-animation-iteration-count: infinite; 
			-webkit-animation-timing-function: linear;
			
			-moz-animation-name: spin; 
			-moz-animation-duration:10000ms; /* 40 seconds */
			-moz-animation-iteration-count: infinite; 
			-moz-animation-timing-function: linear;
			
			-ms-animation-name: spin; 
			-ms-animation-duration:10000ms; /* 40 seconds */
			-ms-animation-iteration-count: infinite; 
			-ms-animation-timing-function: linear;
			/* boooo opera */
			-o-transition: rotate(3600deg); /* works */
}
.status_box_yesb{
			-webkit-animation-name: spinb; 
			-webkit-animation-duration:10000ms; /* 40 seconds */
			-webkit-animation-iteration-count: infinite; 
			-webkit-animation-timing-function: linear;
			
			-moz-animation-name: spinb; 
			-moz-animation-duration:10000ms; /* 40 seconds */
			-moz-animation-iteration-count: infinite; 
			-moz-animation-timing-function: linear;
			
			-ms-animation-name: spinb; 
			-ms-animation-duration:10000ms; /* 40 seconds */
			-ms-animation-iteration-count: infinite; 
			-ms-animation-timing-function: linear;
			/* boooo opera */
			-o-transition: rotate(3600deg); /* works */
}


.topnstatistics_box dl{ display: inline-table; text-align:center; width:420px; height:165px;  margin:0 30px;}
.topnstatistics_box dt{text-align:center; width:420px;  display: table-caption;}
.topnstatistics_box dd{text-align:center; width:70px; height:150px; position:relative; vertical-align:bottom; display: table-cell;}
.topn_top_font,.topn_center_num,.topn_bottom_font{width:70px; margin:0 auto;}
.topn_top_font{background: url(../images/topn_imgbg.png) no-repeat center top; height:15px; }
.topn_center_num{background:url(../images/topn_imgbg.png) no-repeat center; min-height:0px; }
.topn_bottom_font{background:url(../images/topn_imgbg.png) no-repeat center -185px; line-height:35px; overflow:hidden; height:30px;}
.topn_num{ margin:-15px 0 0 0;}

.warn_1{ background:red;}.font_warn_1{ color:#fff;}
.warn_2{ background: #F00;}.font_warn_1{ color:#F00;}
.warn_3{ background: #F60;}.font_warn_2{color:#F60;}
.warn_4{ background: #C03;}.font_warn_3{color:#C03;}
.warn_5{ background: #F06;}.font_warn_4{color:#F06;}
.warn_6{ background: #939;}.font_warn_5{color:#939;}
.warn_7{ background: #93F;}.font_warn_6{color:#93F;}
.warn_8{ background: #F93;}.font_warn_7{color:#F93;}
.warn_9{ background: #F90;}.font_warn_8{color:#F90;}
.warn_10{ background: #0C0;}.font_warn_9{color:#0C0;}
.warn_11{ background: #096;}.font_warn_10{color:#096;}
.warn_12{ background: #369;}.font_warn_11{color:#369;}
.warn_13{ background: #09C;}.font_warn_12{color:#09C;}
.warn_14{ background: #390;}.font_warn_13{color:#390;}

.warn_ulbox{ width:480px; margin:0 auto; color:#fff; text-align:center; height:150px;}
.warn_ulbox li{ padding:7px 10px; width:460px;  font-size:12px;}

.wgress_link_box{ width:425px; margin:0 auto;}
.wgress_link_box .link_font_title{ width:120px; float: right; text-align:center; height:30px; line-height:30px; }
.wgress_link_box .link_ulfont_box{ position:absolute; top:60px; left:170px;}
.wgress_link_box .link_ul_font{ display:inline-table;  text-align:center; width:100px; margin:0 5px;}
.wgress_link_box .link_percentage{ width:140px; height:140px; border-radius:140px; position:absolute; top:30px; text-align: center; line-height:140px; text-indent:12px; font-size:30px;}
.wgress_link_box li{ width:425px; margin:3px auto; height:176px; overflow:hidden; background:url(../images/egress_link_img.png) no-repeat right; position:relative;}
.overflow_warn{ overflow:hidden; min-height:120px;}
.wgress_link_yqa,.wgress_link_yqb{ width:140px; height:140px; position:absolute; top:0; left:0;}
.wgress_link_yqa{ background:url(../images/wgress_link_yqa.png) no-repeat;}
.wgress_link_yqb{ background:url(../images/wgress_link_yqb.png) no-repeat;}














